<div class="page-body">
    <h2>Bullet Chess is the first demo of Arbiter in action</h2>
    <p>Bullet Chess uses <a href="http://arbiter.me" target="_blank">Arbiter</a> to manage the wagered bitcoin during the game. You and your opponent will buy into a wallet managed my Arbiter (via <a href="https://coinbase.com" target="_blank">Coinbase</a>). Once there is a winner, the funds will get released to that winner (minus a 1% fee on the transaction).</p>

    <h2>You'll need a Coinbase account</h2>
    <p>Arbiter is built ontop of Coinbase for transferring the Bitcoin between players. So, you will need to create an account at <a href="https://coinbase.com" target="_blank">Coinbase.com</a>.

    <h2>Thank <a href="https://github.com/vadimg/rtchess" target="_blank">vadimg</a> for building the actual game</h2>
    <p>A friend (who is also friends with vadimg) showed me real time chess for the first time. That conversation ended with, "You should make it so people can bet!"</p>

    <p>If you have any other questions, don't hesitate to reach out to <a href="mailto:info@arbiter.me">info@arbiter.me</a></p>

    <h2>Have Fun!</h2>
</div>
