<div id="index_heading">
  <h1><i class="icon icon-btc"></i>ullet Chess</h1>
  <p>Bet Bitcoin on games of real-time chess</p>
</div>

<div id="index_content">
  <div id="step_1">
    <p><a data-step="1" class="btn btn-success btn-large btn-home">Play next available</a></p>
    <p><a data-step="1" data-invite="true" class="btn btn-primary btn-large btn-home">Invite a friend</a></p>
  </div>

  <div id="step_2" class="hide">
    <p><a data-step="2" data-for-bitcoin="true" class="btn btn-success btn-large btn-home">Wager <i class="icon icon-btc"></i>0.001</a></p>
    <p><a data-step="2" class="btn btn-primary btn-large btn-home">Just play</a></p>
    <a id="back_btn">&laquo; back</a>
  </div>


</div>


<script>
  $(function() {
    var find_random = true;

    $("#back_btn").click(function() {
      $("#step_2").hide();
      $("#step_1").show();
    });

    $("#index_content").on('click', '.btn', function(evt) {
      var $btn = $(evt.target);
      var step = $btn.data('step');
      var for_bitcoin = $btn.data('for-bitcoin') || false;

      if ( step === 1 ) {

        if ($btn.data('invite') == true) {
          find_random = false;
        }

        $("#step_1").hide();
        $("#step_2").removeClass("hide").show();
      }
      else {
        if (find_random) {
          window.location = "/join_random?for_bitcoin=" + for_bitcoin;
        } else {
          window.location = "/new_room?for_bitcoin=" + for_bitcoin;
        }
      }
    });
  });
</script>
