<style>
  .navbar,
  #footer { display:none; }
  body { margin-top: 20px; }
</style>

<center>
  {{#if auth_url}}
    <div id="chess-board">
      <a class="btn btn-success btn-large btn-home" id="open_auth_window">Buy In for <i class="icon icon-btc"></i>0.001 <br>
        <small>via Arbiter</small>
      </a>
      <div>
        <a id="how_arbiter_works_btn">What will happen when I click Buy in?</a>
        <div id="how_arbiter_works" style="display:none;">
          <p>Once you authenticate your Coinbase account, everything will happend behind the scenes. But for the
            curious ones out there, here are more details...</p>
          <p>Bullet Chess uses <a href="http://arbiter.me" target="_blank">Arbiter</a> to manage the wagered bitcoin
            during the game. You and your opponent will buy into a wallet managed my Arbiter (via <a href="https://coinbase.com" target="_blank">Coinbase</a>). Once there is a winner, the funds will get released to that winner (minus a 1% transaction fee).
          </p>

          <p>If you have any other questions, don't hesitate to reach out to <a href="mailto:info@arbiter.me">info@arbiter.me</a></p>
        </div>
      </div>
    </div>
  {{else}}
    <div class="button-bar">
      <p>Select your team</p>
      <div class="btn-group">
        <button id="sit-white" class="side-button btn btn-success">Sit as White</button>
        <button id="sit-black" class="side-button btn btn-primary">Sit as Black</button>
      </div>
      <br>
      <button id="start-game" class="btn btn-default btn-home" disabled="disabled">Start Game</button>
      <span id="ping-text">Ping: <span id="ping"></span> ms</span>
    </div>
    <div id="chess-board">

        <!-- TODO: Move this to show only once they user has selected a side
        <div class="message">
          <h3>Still waiting for someone to join?</h3>
          <p>Invite a friend using the link: <span id="share_url"></span></p>
        </div> -->
    </div>
    {{#if arbiter_token}}
      <div class="modal fade" id="payout_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <p><span id="winner"></span> has won <span id="amount"></span>btc</p>
            </div>
            <div class="modal-footer">
              <a href="/" class="btn btn-success btn-home">Play again</a>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
</center>

<script>
  var openAuthWindow = function() {
    window.open('{{auth_url}}&app_name=Bullet Chess', 'Bullet Chess Buy In', 'left=100,width=400,height=600,menubar=no,resizable=no,scrollbars=no,titlebar=no,top=100');
  };

  $(function() {
      if ('{{ auth_url }}') {
        buyIn('{{auth_url}}');
      } else {
        startRoom('{{{ room_id }}}', '{{ arbiter_token }}');
        $("#share_url").text(window.location.href);
      }

      $("#how_arbiter_works_btn").click(function() {
        $("#how_arbiter_works").toggle();
      })
  });
</script>
