<style>
  .navbar { display:none; }
  body { margin-top: 20px; }
</style>

<center>
  {{#if auth_url}}
    <div id="chess-board">
      <a class="btn btn-success btn-large btn-home" id="open_auth_window">Buy In for <i class="icon icon-btc"></i>0.001</a>
    </div>
  {{else}}
    <div class="button-bar">
      <button id="sit-white" class="side-button btn">Sit as White</button>
      <button id="sit-black" class="side-button btn btn-inverse">Sit as Black</button>
      <button id="start-game" class="btn btn-primary" disabled="disabled">Start Game</button>
      <span id="ping-text">Ping: <span id="ping"></span> ms</span>
    </div>
    <div id="chess-board">
        <div class="message">
          <h1>Invite others:</h1>
          <p id="share_url"></p>
        </div>
    </div>
  {{/if}}
</center>

<script>
  var openAuthWindow = function() {
    window.open('{{auth_url}}&app_name=Bullet Chess', 'Bullet Chess Buy In', 'left=100,width=400,height=600,menubar=no,resizable=no,scrollbars=no,titlebar=no,top=100');
  };

    $(function() {
        console.log('{{auth_url}}');
        if ('{{ auth_url }}') {
          buyIn('{{auth_url}}');
        } else {
          startRoom('{{{ room_id }}}', '{{ arbiter_token }}');
          $("#share_url").text(window.location.href);
        }
    });
</script>
